.todo-container {
    margin: 50px auto;
    width: 600px;
}

.todo-title {
    font-size: 40px;
    background: linear-gradient(to right, #e53935, #e6a33c);
    color: transparent;
    background-clip: text;
    text-align: center;
}

.todo-new{
    display: flex;
    justify-content: center;
}

input {
    padding: 10px 10px;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: azure;
}

button {
    padding: 10px 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.todo-data{
    margin-top: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.todo-image{
    display: flex;
    justify-content: center;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: logo-spin infinite 20s linear;
    }
}